* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #e9ebee;
  font-family: "Roboto";
}

header {
  background: #4267b2;
  text-align: center;
  padding: 8px 0px;
  border: 1px solid #29487d;
  font-size: 20px;
  color: #fff;
}
